node_modules
components
npm-debug.log
build
dist
.DS_Store
*.crt
*.key
datadive.js
datadive.esm.js
datadive.min.js
datadive.nocompat.js
datadive.nocompat.min.js
datadive-snippet.min.js
datadive.native.js
datadive-segment-snippet.min.js
.watchmanconfig
package-lock.json
datadive.umd.js
datadive.umd.min.js
